<footer th:fragment="footer">
	<!-- Footer Start -->
	<footer class="ftco-footer bg-bottom ftco-no-pt"
		style="background-image: url(../public/images/bg_3.jpg);">
		<div class="container">
			<div class="row mb-5">
				<div class="col-md pt-5">
					<div class="ftco-footer-widget pt-md-5 mb-4">
						<h2 class="ftco-heading-2">Về Chúng Tôi</h2>
						<p>Xa xa, vượt qua những dãy núi trùng điệp, bạn sẽ khám phá
							những miền đất hoang sơ và những vùng quê đầy bí ẩn, nơi thiên
							nhiên và văn hóa hòa quyện tạo nên những trải nghiệm độc đáo.</p>
						<ul
							class="ftco-footer-social list-unstyled float-md-left float-lft">
							<li class="ftco-animate"><a href="#"><span
									class="fa fa-twitter"></span></a></li>
							<li class="ftco-animate"><a href="#"><span
									class="fa fa-facebook"></span></a></li>
							<li class="ftco-animate"><a href="#"><span
									class="fa fa-instagram"></span></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md pt-5 border-left">
					<div class="ftco-footer-widget pt-md-5 mb-4 ml-md-5">
						<h2 class="ftco-heading-2">Thông Tin</h2>
						<ul class="list-unstyled">
							<li><a href="#" class="py-2 d-block">Yêu Cầu Trực Tuyến</a></li>
							<li><a href="#" class="py-2 d-block">Câu Hỏi Chung</a></li>
							<li><a href="#" class="py-2 d-block">Điều Kiện Đặt Hàng</a></li>
							<li><a href="#" class="py-2 d-block">Chính Sách Bảo Mật</a></li>
							<li><a href="#" class="py-2 d-block">Chính Sách Hoàn
									Tiền</a></li>
							<li><a href="#" class="py-2 d-block">Gọi Chúng Tôi</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md pt-5 border-left">
					<div class="ftco-footer-widget pt-md-5 mb-4">
						<h2 class="ftco-heading-2">Kinh Nghiệm</h2>
						<ul class="list-unstyled">
							<li><a href="#" class="py-2 d-block">Phiêu Lưu</a></li>
							<li><a href="#" class="py-2 d-block">Khách Sạn và Nhà
									Hàng</a></li>
							<li><a href="#" class="py-2 d-block">Bãi Biển</a></li>
							<li><a href="#" class="py-2 d-block">Thiên Nhiên</a></li>
							<li><a href="#" class="py-2 d-block">Cắm Trại</a></li>
							<li><a href="#" class="py-2 d-block">Tiệc Tùng</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md pt-5 border-left">
					<div class="ftco-footer-widget pt-md-5 mb-4">
						<h2 class="ftco-heading-2">Có Câu Hỏi?</h2>
						<div class="block-23 mb-3">
							<ul>
								<li><span class="icon fa fa-map-marker"></span><span
									class="text">QTSC 9 Building, Đ. Tô Ký, Tân Chánh Hiệp,
										Quận 12, Hồ Chí Minh</span></li>
								<li><a href="#"><span class="icon fa fa-phone"></span><span
										class="text">+84 1900 1987</span></a></li>
								<li><a href="#"><span class="icon fa fa-paper-plane"></span><span
										class="text">cdfptpolytechnic@fpt.vn.com</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<p>
						Hãy để mỗi chuyến đi là một hành trình trải nghiệm, nơi bạn không chỉ khám phá cảnh đẹp mà còn tìm thấy chính mình giữa những nền văn hóa đa dạng và con người ấm áp.
						Bản quyền &copy;
						<script>
							document.write(new Date().getFullYear());
						</script>
						Bảo lưu mọi quyền | Mẫu này được tạo bởi <a
							href="https://colorlib.com" target="_blank">Nhóm LCR</a>
						Khám phá thế giới, chạm đến những chân trời mới! 
					</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer End -->
</footer>